<div class="tab-content">
	<div class="tab-pane active" id="anime">
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span6">
				<h1><%= t.anime.scrum_overview_anime_version %></h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<div class="overview">
					<img src="/overview/anime_scrum_overview_small.png" alt="Scrum Overview"/>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<%= t.anime.high_resolution_versions %>:
				<ul>
					<li> <a href="/overview/anime_scrum_overview_blue.png"><%= t.anime.scrum_overview_blue %></a></li>
					<li> <a href="/overview/anime_scrum_overview_pink.png"><%= t.anime.scrum_overview_pink %></a></li>
					<li> <a href="/overview/anime_scrum_overview_green.png"><%= t.anime.scrum_overview_green %></a></li>
				</ul>
				<%= t.overview.feel_free_to_use %>
				<p></p>
				<p></p>
				<a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a> <%= t.overview.work_is_licensed_under %> <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>.
			</div>
		</div>
	</div>
</div>
