<div class="tab-content">
	<div class="tab-pane active" id="home">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<div class="logo">
					<img src="<%= t.home.scrum_primer_logo_file %>" alt="<%= t.scrum_primer%>"/>
				</div>			
				<hr>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3">
				<h4><%= t.home.current_version %></h4>
				<p>
					<a href="/scrumprimer20_small.pdf"><%= t.home.download_small_file %></a><br/>
					<a href="/scrumprimer20.pdf"><%= t.home.download_print_quality_file %></a>
				</p>
			</div>			
			
			<div class="span3">
				<h4><%= t.home.translations %></h4>
				<a href="/primers/fr_scrumprimer20.pdf"><%= t.home.scrum_primer_in_french %></a><br/>
				<a href="/primers/zh-cn_scrumprimer20.pdf"><%= t.home.scrum_primer_in_simplified_chinese %></a><br/>
				<a href="/primers/es_scrumprimer20.pdf"><%= t.home.scrum_primer_in_spanish %></a><br/>
				<a href="/primers/bg_scrumprimer20.pdf"><%= t.home.scrum_primer_in_bulgarian %></a><br/>
				<br/>
				<p><%= t.home.currently_in_progress %>:</p>
				<ul>
					<% t.home.languages_in_progress.to_hash.each do |language_in_progress| %>
					<li> <%= language_in_progress[1] %></li>
					<% end %>
					
				</ul>
			</div>
		</div>
	</div>
</div>
