<div class="tab-content">
	<div class="tab-pane active" id="home">			
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<div class="logo">
					<img src="/scrumprimerlogo.png" alt="Scrum Primer"/>
				</div>			
				<hr>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3">
				<h4><%= t.home.body.current_version %></h4>
				<p>
					<a href="scrumprimer20_small.pdf"><%= t.home.body.download_small_file %></a><br/>
					<a href="scrumprimer20.pdf"><%= t.home.body.download_print_quality_file %></a>
				</p>
			</div>			
			
			<div class="span3">
				<h4><%= t.home.body.translations %></h4>
				<a href="primers/scrumprimer20_french.pdf"><%= t.home.body.scrum_primer_in_french %></a><br/>
				
				<p><%= t.home.body.currently_in_progress %>:</p>
				<ul>
					<li><%= t["zh-CN"] %></li>
					<li><%= t["jp"] %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
