<div class="tab-content">
	
	<div class="tab-pane active" id="translations">
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span6">
				<h2><%= t.overview.scrum_primer_translations %></h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span6">
				<div class="btn-group" data-toggle="buttons-radio">
					<button class="btn btn-small btn-link active" onclick="changeLanguage('zh-cn')" type="button"><%= t.translations.simplified_chinese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('vi')" type="button"><%= t.translations.vietnamese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('jp')" type="button"><%= t.translations.japanese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('kr')" type="button"><%= t.translations.korean %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('th')" type="button"><%= t.translations.thai %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('fr')" type="button"><%= t.translations.french %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('de')" type="button"><%= t.translations.german %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('es')" type="button"><%= t.translations.spanish %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('bg')" type="button"><%= t.translations.bulgarian %></button>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5"></div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<div class="overview">
					<img id="overview_translated" src="/overview/zh-cn_scrum_overview.png" alt="Scrum Overview"/>
				</div> 
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3"></div>
			<div class="span3">
				<%= t.overview.overview_picture_pdf_versions %>:
				<ul>
					<li> <a id="overview_pic_1" href="/overview/zh-cn_scrum_overview1.pdf"><%= t.overview.scrum_overview_v1 %></a></li>
					<li> <a id="overview_pic_2" href="/overview/zh-cn_scrum_overview2.pdf"><%= t.overview.scrum_overview_v2 %></a></li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<%= t.overview.feel_free_to_use %>
				<p></p>
				<p></p>
				<a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a> <%= t.overview.work_is_licensed_under %> <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>.
			</div>
		</div>
	</div>

</div>
