<div class="tab-content">
	
	<div class="tab-pane active" id="translations">
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span6">
				<h2><%= t.translations.scrum_primer_translations %></h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span6">
				<div class="btn-group" data-toggle="buttons-radio">
					<button class="btn btn-small btn-link active" onclick="changeLanguage('simplified_chinese')" type="button"><%= t.chinese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('vietnamese')" type="button"><%= t.vietnamese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('japanese')" type="button"><%= t.japanese %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('korean')" type="button"><%= t.korean %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('french')" type="button"><%= t.french %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('german')" type="button"><%= t.german %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('spanish')" type="button"><%= t.spanish %></button>
					<button class="btn btn-small btn-link" onclick="changeLanguage('bulgarian')" type="button"><%= t.bulgarian %></button>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5"></div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<div class="overview">
					<img id="overview_translated" src="/overview/scrum_overview_simplified_chinese.png" alt="Scrum Overview"/>
				</div> 
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3"></div>
			<div class="span3">
				PDF versions of the Overview picture:
				<ul>
					<li> <a id="overview_pic_1" href="/overview/scrum_overview1_simplified_chinese.pdf">Scrum Overview Version 1</a></li>
					<li> <a id="overview_pic_2" href="/overview/scrum_overview2_simplified_chinese.pdf">Scrum Overview Version 2</a></li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				Feel free to use it in your own material.
				<p></p>
				<p></p>
				<a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.en_US">Creative Commons Attribution-NoDerivs 3.0 Unported License</a>.
			</div>
		</div>
	</div>

</div>
